### Hbase实习 王田雨-马佳媛

In [1]:
import happybase
con = happybase.Connection('hbase', port=9090, timeout=60000)
if b'test' in con.tables():
    con.disable_table(b'test')
    con.delete_table(b'test')
con.create_table('test', {'col1': {}, 'col2': {}, 'col3': {}})
#create 'test','col1', 'col2', 'col3';

In [2]:
table = con.table('test')
data = {
        b"col1:name": "张三".encode('utf-8'),
        b"col1:age": b"37",
        b"col1:salary": b"3000",
        b"col3:course": "微积分，线性代数".encode('utf-8'),
        b"col3:service": "班主任".encode('utf-8')}
table.put(b't01', data)

In [3]:
# 使用input命令来插入数据



data = {
        b"col1:name": "李四".encode('utf-8'),
        b"col1:age": b"42",
        b"col1:salary": b"3500",
        b"col2:paper": b"4",
        b"col2:project": b"3"}
table.put(b't02', data)

data = {
        b"col1:name": "王五".encode('utf-8'),
        b"col1:age": "53",
        b"col1:salary": "4500",
        b"col2:paper": "8",
        b"col2:project": "2"}
table.put(b't03', data)

data = {
        b"col1:name": "周到".encode('utf-8'),
        b"col1:age":  b"41",
        b"col1:salary":  b"3800",
        b"col2:paper":  b"10",
        b"col2:project":  b"5",
        b"col3:course":  "微积分".encode('utf-8'),
        b"col3:service":  "班主任".encode('utf-8')}
table.put(b't04', data)

data = {
        b"col1:name": "李达".encode('utf-8'),
        b"col1:age":  b"56",
        b"col1:salary":  b"5000",
        b"col3:course":  "数据库，数据结构".encode('utf-8'),
        b"col3:service":  "辅导员".encode('utf-8')}
table.put(b't05', data)

In [4]:
#查询t02的薪水和论文数量
print(str(table.row(b't02')[b"col1:salary"]))
print(str(table.row(b't02')[b"col2:paper"]))

b'3500'
b'4'

In [5]:
#查询教授微积分的老师
for key, data in table.scan():
    #print(key, data)
    #print(data)
    if b'col3:course' in data and '微积分' in data[b'col3:course'].decode():
        print(data[b'col1:name'].decode())

张三
周到

In [6]:
import pymysql

# 连接数据库，已提前按照对应的代码导入到mysql中
conn = pymysql.connect(host='mysql', port=3306, user='root', password='123456', db='hbase')

# 创建游标
cursor = conn.cursor()

# 执行查询
sql = "select A, group_concat(B) from mysqlTb group by A;"
cursor.execute(sql)

# 获取结果集
result = cursor.fetchall()
if b'hbaseTb1' in con.tables():
    con.disable_table(b'hbaseTb1')
    con.delete_table(b'hbaseTb1')
con.create_table('hbaseTb1', {'cf': {}})
tb1 = con.table('hbaseTb1')
for k, v in result:
#     print(k, v)
    tb1.put(str(k).encode('utf-8'), {"cf:B": v.encode('utf-8')})
#print(result)

# 执行查询
sql = "select B, group_concat(A) from mysqlTb group by B;"
cursor.execute(sql)

# 获取结果集
result = cursor.fetchall()
if b'hbaseTb2' in con.tables():
    con.disable_table(b'hbaseTb2')
    con.delete_table(b'hbaseTb2')
con.create_table('hbaseTb2', {'cf': {}})
tb2 = con.table('hbaseTb2')
for k, v in result:
#     print(k, v)
    tb2.put(str(k).encode('utf-8'), {"cf:A": v.encode('utf-8')})
#print(result)
#检索A=5
print(tb1.row(str(5).encode('utf-8')))
#检索B=50
print(tb2.row(str(50).encode('utf-8')))
# 关闭游标和连接
cursor.close()
conn.close()

{b'cf:B': b'10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99'}
{b'cf:A': b'9,8,7,6,5,4,3,2,1'}